*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cont{
    max-width: 460px;
    background: gold;
    border-radius: 9px;
    box-shadow: pink;
    padding: 25px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 15px;

}
.Temperature-icon{
    font-size: 50px;
    color: blue;

}
h1{

    color: black;
    letter-spacing: 1.5px;
    font-size: 35px;
}
#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
input{
    flex: 6;
    height: 65px;
    font-size: 23px;
    font-weight: 601px;
    text-align: center;
    border: none;
    border-radius: 7px;
    padding: 0 12px;
}
.icon{
    flex: 2;
    height: 62px;
    line-height: 62px;
    padding: 0 6px;
    text-align: center;
    font-size: 32px;
    background: gray;
    color: black;
    border-radius: 3px;

}
.button{
    margin-top: 23px;
    text-align: center;

}
.button button{
    border: none;
    padding: 12 32px;
    font-size: 22px ;
    font-weight: 605;
    border-radius: 4px;
    cursor: 0.4s;
}
.button button:hover{
    background: rgb(194, 123, 123);
    color: black;
}